@font-face {
   font-family: oswald-light;
   src: url(/assets/fonts/oswald/Oswald-Light.ttf);
}
@font-face {
   font-family: open-sans;
   src: url(/assets/fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
   font-family: playball;
   src: url(/assets/fonts/playball/playball.ttf);
}

.font-jah-h3 {
  font: 400 100px/1.0 'Just Another Hand', Helvetica, sans-serif !important;
  color: #FFFFFF;
  text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
}
.font-jah-h4 {
  font: 400 60px/1.0 'Just Another Hand', Helvetica, sans-serif !important;
  color: #FFFFFF;
  text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
}
.font-jah-h4-no-shad {
  font: 400 60px/1.0 'Just Another Hand', Helvetica, sans-serif !important;
  color: #FFFFFF;
}
.font-jah-h5-no-shad {
  font: 400 40px/1.0 'Just Another Hand', Helvetica, sans-serif;
  color: #FFFFFF;
}


.font-cookie-h3 {
  font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.font-cookie {
  font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.font-merienda {
  font: 400 30px/1.2 'Merienda One', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 3px 3px 3px #fff;
}
.font-pacifico-h3 {
  font: 400 35px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
.font-pacifico-h4 {
  font: 400 25px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}